<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.psy.notepad.vo.NotePadVO" alias="NotePadVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="com/psy/notepad/dao/impl/sql/notePadDao.xml" />
		<mapper resource="sampleMapper.xml"/>
	</mappers>
	
</configuration>					